<a href="/dashboard">&larr; Kembali</a>
<div class="admin-title">
    <h2>Tambahkan Postingan Terbaru</h2>
</div>

<form action="/add-post" method="POST">

    <label for="title"><b>Judul</b></label>
    <input type="text" placeholder="Judul" name="title">

    <label for="body"><b>Isi Konten</b></label>
    <textarea name="body" cols="50" rows="10"></textarea>

    <input type="submit" value="Add" class="btn">

</form>